<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.greatnorthcap.compass">

    <application
        android:allowBackup="true"
        android:icon="@drawable/compass_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/compass_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".RegisterActivity"
            android:label="@string/app_name">
        </activity>

        <activity android:name=".LoginActivity"
            android:label="@string/app_name">
        </activity>

        <activity android:name=".UserProfileActivity"
            android:label="@string/app_name">
        </activity>

        <activity android:name=".UploadImageActivity"
            android:label="@string/app_name">
        </activity>

        <activity android:name=".SearchActivity"
            android:label="@string/app_name">
        </activity>

        <activity android:name=".UserSearchActivity"
            android:label="@string/app_name">
        </activity>

        <activity android:name=".LoanSearchActivity"
            android:label="@string/app_name">
        </activity>

        <activity android:name=".AccountProfileActivity"
            android:label="@string/app_name">
        </activity>

        <activity android:name=".SearchedAccountProfileActivity"
            android:label="@string/app_name">
        </activity>

        <activity android:name=".ApplyActivity"
        android:label="@string/app_name">
        </activity>

        <activity android:name=".BrokerLoanActivity"
            android:label="@string/app_name">
        </activity>

        <activity android:name=".SelectedBrokerLoanActivity"
            android:label="@string/app_name">
        </activity>

        <activity android:name=".UploadLoanImagesActivity"
            android:label="@string/app_name">
        </activity>

        <activity android:name=".SelectedLoanActivity"
            android:label="@string/app_name">
        </activity>

        <activity android:name=".ViewLoanImagesActivity"
            android:label="@string/app_name">
        </activity>
        <activity android:name=".LoanStatusActivity"
            android:label="@string/app_name">
        </activity>
        <activity android:name=".SelectedStatusActivity"
            android:label="@string/app_name">
        </activity>

    </application>
    
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>



</manifest>